# rtorrent configuration

directory = ~/torrent
session = ~/torrent/session

min_peers = 1
max_peers = 50

min_peers_seed = 1
max_peers_seed = 50

max_uploads = 10

download_rate = 0
upload_rate = 300

port_range = 49169-49169

check_hash = yes

encryption = allow_incoming,try_outgoing,enable_retry

# encryption = require,require_RC4,allow_incoming,try_outgoing

schedule = watch_directory,5,5,load_start=/home/ange/torrent/watch/*.torrent
schedule = untied_directory,5,5,stop_untied=
schedule = tied_directory,5,5,start_tied=

schedule = low_diskspace,5,60,close_low_diskspace=2000M
